
@{
    Layout = null;
}
<div>

    <div>
        <div style="float:left">
            <div><h4>Tímar verkefnis</h4></div>
        </div>

    </div>
    <div class="nav" style=" vertical-align:baseline" align="right">
        <a style="font-size:2em" class="glyphicon glyphicon-pencil" href="#/editProject_hours/{{phour.phid}}"></a>
        <a style="font-size:2em" class="glyphicon glyphicon-remove" ng-click="delclick(phours.phid)"></a>
    </div>
    <br /><br />
    <div>
        <label class="col-md-3 control-label">Fj. tíma</label>
        <div class="col-md-9">
            <label style="font-size:larger">&nbsp;{{phour.workhour}}</label>
        </div>
    </div>
    <br /><br />
    <div>
        <label class="col-md-3 control-label">Lýsing</label>
        <div class="col-md-9">
            <label style="font-size:larger">&nbsp;{{ phour.hourdescription}}</label>
        </div>
    </div>
    <br /><br />
    <div>
        <label class="col-md-3 control-label">Dags. vinnu</label>
        <div class="col-md-9">
            <label style="font-size:larger">&nbsp;{{ phost.hourdate| date: " dd.MM.yyyy"}}</label>
        </div>
    </div>
    <br /><br />
    <div>
        <label class="col-md-3 control-label">Verkefni</label>
        <div class="col-md-9">
            <label style="font-size:larger">&nbsp;{{ phour.projectTitle }}</label>
        </div>
    </div>
    <br /><br />
    <div>
        <label class="col-md-3 control-label">Hver skráir</label>
        <div class="col-md-9">
            <label style="font-size:larger">&nbsp;{{ phour.employeeName }}</label>
        </div>
    </div>
    <br /><br />
    <div>
        <label class="col-md-3 control-label">Hvenær skráð</label>
        <div class="col-md-9">
            <label style="font-size:larger">&nbsp;{{ phour.hourtimestamp| date: " dd.MM.yyyy 'kl.' HH:mm"}}</label>
        </div>
    </div>
    <br /><br />
</div>